APP_NAME=Al-Ansar-Foundation
APP_ENV=local
APP_KEY=base64:iWSAAL8QaAJWVUmXBSZUlRASmldLNEy0J5VpFpWUp24=
APP_DEBUG=true
APP_URL=al-ansar-foundation.com

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=foundation
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

# paystack
PAYSTACK_PUBLIC_KEY=pk_test_99a8cd7670b63ea9d458957e4195fb9ceed0bbb3
PAYSTACK_SECRET_KEY=sk_test_6e0516f735705fb5469a18fc468fbacbaeb63b83
PAYSTACK_PAYMENT_URL=https://api.paystack.co
MERCHANT_EMAIL=support@al-ansar-founadtion.com
